<%= form_for(@staff) do |f| %>


  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div>

    <%= fields_for(@staff_ranch) do |x| %>
    <div class="field">
  
      <%= x.collection_select(:ranch_id, @all_ranch, :id, :name, { }, {:multiple => true}) %>
    </div>
  <%end%>


  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
