<%= form_for(@staff) do |f| %>
  
  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div>

  <div class="field">
    <%= f.label :ranches %><br>
    <%= select_tag("ranches[]", options_for_select(@fuctions,
      {:multiple=>true, :id => "ranches"}) %>
  </div>

  <script type="text/javascript">
    $(document).ready(function() {
    $("#functions").multiselect();
    });
  </script>

  <%= javascript_include_tag "jquery.multiselect.min" %>

  <div class="actions">
    <%= f.submit %>
  </div>

<% end %>