 <div id="show_task_table">
 <div class="row-clearfix">

    <table class="show_task_table">
        <tbody >
          <% @tasks.each do |task| %>
            <%- if task.done == false %>
              <tr>
                <td>
                  <div class="done">
                    <%= link_to done_ranch_task_path(@ranch, task.id), method: :patch do %>
                      <i class="fa fa-square-o"></i>
                    <% end %>
                  </div>
                </td>
                <td>
                  <div class="task">
                    <p><%=task.content%></p>
                  </div>
                </td>
                <td>
                </td>
              </tr>
            <%else%>
              <tr>
                <td>
                  <div class="done">
                    <%= link_to undone_ranch_task_path(@ranch, task.id), method: :patch do %>
                      <i class="fa fa-check-square-o"></i>
                    <% end %>
                  </div>
                </td>
                <td>
                  <div class="task">
                    <p style="opacity: 0.4;"><strike><%=task.content%></strike></p>
                  </div>
                </td>
                <td>
                  <div class="trash">
                    <%= link_to ranch_task_path(@ranch, task.id), method: :delete, data: { confirm: 'Are you sure?' } do %>
                      <i class="fa fa-trash-o"></i>
                    <% end %>
                  </div>
                </td>
              </tr>
            <%end%>
          <%end%>    
        </tbody>
      </table>

