 <div id="show_task_table">


    <table>
          <% @tasks.each do |task| %>
          <div>
          </div>
            <%- if task.done == false %>
              <tr class="bubble_task">

                <td>
                  <div class="tbox">
                    <%= link_to done_ranch_task_path(@ranch, task.id), method: :patch do %>
                      <i class="fa fa-square-o" style="font-size:20px;"></i>
                    <% end %>
                  </div>
                </td>

                <td>
                  <div class="tline">
                    <p><%=task.content%></p>
                  </div>
                </td>

              </tr>
            <%else%>
              <tr class="bubble_task">

                <td>
                  <div class="tbox">
                    <%= link_to undone_ranch_task_path(@ranch, task.id), method: :patch do %>
                      <i class="fa fa-check-square-o" style="font-size:20px;"></i>
                    <% end %>
                  </div>
                </td>

                <td>
                  <div class="tline">
                    <p style="opacity: 0.6;"><%=task.content%></p>
                  </div>
                </td>

                <td>
                  <div class="fav">
                    <%= link_to ranch_task_path(@ranch, task.id), method: :delete, data: { confirm: 'Are you sure?' } do %>
                      <i class="fa fa-times" style="font-size:20px;"></i>
                    <% end %>
                  </div>
                </td>

                <td>
                  <div class="trash">
                    <%= link_to ranch_task_path(@ranch, task.id), method: :delete, data: { confirm: 'Are you sure?' } do %>
                      <i class="fa fa-times" style="font-size:20px;"></i>
                    <% end %>
                  </div>
                </td>

              </tr>
            <%end%>
          <%end%>    
        </tbody>
      </table>



